<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JopMed{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/filters.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/header.js') }}"></script>
</head>
<body>
    <!-- Header Start -->
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <div class="site-header__start">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='images/jopmed-logo.svg') }}" alt="JopMed Logo" /></a>
                </div>
                <a href="#" class="brand">JopMed Supplies</a>
            </div>
            <div class="site-header__middle">
                <nav class="nav">
                    <ul class="nav__wrapper">
                        <li class="nav__item"><a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                        <li class="nav__item"><a href="/about" class="{% if request.path == '/about' %}active{% endif %}">About</a></li>
                        <li class="nav__item"><a href="/services" class="{% if request.path == '/services' %}active{% endif %}">Services</a></li>
                        <li class="nav__item"><a href="/products" class="{% if request.path == '/products' %}active{% endif %}">Products</a></li>
                    </ul>
                </nav>
            </div>
            <div class="site-header__end">
                <button class="nav__toggle" id="menu-toggle" aria-expanded="false" type="button">
                    Menu
                </button>
                <div class="dropdown-menu" id="dropdown-menu">
                    <button class="nav__toggle" id="sign-in-button" aria-expanded="false" type="button">
                        Sign In
                    </button>
                    <button class="nav__toggle" id="register-button" aria-expanded="false" type="button">
                        Register
                    </button>
                    <button class="nav__toggle" id="sign-out-button" aria-expanded="false" type="button" style="display: none;">
                        Sign Out
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>JopMed Online Store</p>
        <nav class="footer-nav">
            <ul class="footer-nav__wrapper">
                <li class="nav__item"><a href="/categories">Categories</a></li>
                <li class="nav__item"><a href="/contact-us">Contact</a></li>
                <li class="nav__item"><a href="/account">Account</a></li>
                <li class="nav__item"><a href="/shipping-information">Shipping Information</a></li>
                <li class="nav__item"><a href="#">Admin</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>