{% extends "base.html" %}

{% block title %}Contact Us - JopMed{% endblock %}

{% block content %}
<div class="contact-content">
    <h1>Contact Us</h1>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-phone-alt"></i>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <p>Email: support@jopmed.com</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>Address: 123 Wabera St, Nairobi City, Floor 4 Room 6</p>
        </div>
    </div>
</div>
{% endblock %}