<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/jopmed-logo.svg" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/jopmed.js"></script>
    <title>JopMed</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <!-- <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              {% for state in states %}
              <li>
                <input type="checkbox" data-id="{{ state.id }}" data-name="{{ state.name }}" style="margin-right: 10px;">
                <h2>{{ state.name }}:</h2>
                <ul>
                  {% for city in state.cities %}
                  <li>
                    <input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}" style="margin-right: 10px;">
                    {{ city.name }}
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
              {% for amenity in amenities %}
              <li>{{ amenity.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <button type="button">Search</button>
      </section>
      <div class="placesh1"><h1>Places</h1></div>
      <section class="places">
        {% for place in places %}
        <article>
          <div class="title_box">
            <h2>{{ place.name }}</h2>
            <div class="price_by_night">${{ place.price_by_night }}</div>
          </div>
          <div class="information">
            <div class="max_guest">{{ place.max_guest }} Guest{% if place.max_guest != 1 %}s{% endif %}</div>
            <div class="number_rooms">{{ place.number_rooms }} Bedroom{% if place.number_rooms != 1 %}s{% endif %}</div>
            <div class="number_bathrooms">{{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms != 1 %}s{% endif %}</div>
          </div>
          <div class="user">
            <b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}
          </div>
          <div class="description">
            {{ place.description | safe }}
          </div>
          <div class="reviews" style="margin-top: 40px;">
            <h2 style="font-size: 16px; border-bottom: 1px solid #DDDDDD;">Reviews <span class="toggle-reviews" data-place-id="{{ place.id }}">show</span></h2>
            <ul class="review-list" style="list-style: none;"></ul>
          </div>
        </article>
        {% endfor %}
      </section>
    </div> -->
    <footer>
      <p>JopMed Online Store</p>
    </footer>
  </body>
</html>
