<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/filters.css">
    <link rel="stylesheet" href="../static/styles/reset.min.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="icon" href="../static/images/jopmed-logo.svg" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/jopmed.js"></script>
    <title>Services - JopMed</title>
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
            <a href="/">
                <div class="logo">
                  <img src="../static/images/jopmed-logo.svg" alt="JopMed Logo" />
                </div>
              </a>
          <a href="/" class="brand">JopMed Supplies</a>
        </div>
        <div class="site-header__middle">
          <nav class="nav">
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/">Home</a></li>
              <li class="nav__item"><a href="/about">About</a></li>
              <li class="nav__item"><a href="/services">Services</a></li>
              <li class="nav__item"><a href="/products">Products</a></li>
            </ul>
          </nav>
        </div>
        <div class="site-header__end">
          <button class="nav__toggle" id="sign-in-button" aria-expanded="false" type="button">
            Sign in
          </button>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <main>
      <section class="order">
        <div class="wrapper">
          <h1>your orders</h1>
          <p>Woah, all that shopping!...</p>
        </div>
      </section>
    </main>

    <footer>
      <p>JopMed Online Store</p>
      <nav class="footer-nav">
        <ul class="footer-nav__wrapper">
          <li class="nav__item"><a href="/about">About Us!</a></li>
          <li class="nav__item"><a href="/cart">Cart</a></li>
          <li class="nav__item"><a href="/categories">Categories</a></li>
          <li class="nav__item"><a href="/contact-us">Contact</a></li>
          <li class="nav__item"><a href="/home">Home</a></li>
          <li class="nav__item"><a href="/products">Products</a></li>
          <li class="nav__item"><a href="/reviews">Reviews</a></li>
          <li class="nav__item"><a href="/services">Services</a></li>
          <li class="nav__item"><a href="/shipping-information">Shipping Information</a></li>
          <li class="nav__item"><a href="/sign-in">Sign In</a></li>
          <li class="nav__item"><a href="/sign-up">Sign Up</a></li>
          <li class="nav__item"><a href="/sign-out">Sign Out</a></li>
        </ul>
      </nav>
    </footer>
    <script src="../static/scripts/header.js"></script>
  </body>
</html>