{% extends "base.html" %}

{% block title %}Services - JopMed{% endblock %}

{% block content %}
<div class="services-content">
    <h1>Our Services</h1>
    <p>We offer a wide range of services to meet your medical supply needs, including fast shipping, bulk orders, and more.</p>
    <div id="services-container" class="services-container">
        <!-- Services will be dynamically inserted here -->
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/service.js') }}"></script>

    {% endblock %}